# Project Euler: Problem 1: Multiples of 3 and 5

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below the provided parameter value number.

In [1]:
"""
    multiplesOf3and5(number)

Finds the sum of all the multiples of 3 and 5 below the provided
parameter value number
"""
function multiplesOf3and5(number)
    j = 0
    for i = 1:(number-1)
        if i % 3 == 0
            j += i
        elseif i % 5 == 0
            j += i
        end
        i += 1
    end
    println(j)
end

multiplesOf3and5

In [2]:
multiplesOf3and5(10) # should return 23

23

In [3]:
multiplesOf3and5(1000) # should return 233168

233168

In [4]:
multiplesOf3and5(49) # should return 543

543

In [5]:
multiplesOf3and5(19564) # should return 89301183

89301183

In [6]:
multiplesOf3and5(8456) # should return 16687353

16687353